:root {
  --font-text: 'Chakra Petch';
  --font-family: var(--font-text, _), system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Segoe UI Symbol';

  --text-color: #000000;
  --link-color: #ba1D0a;
  --bg-color: #f5f5f5;
  --bg-color-btn--secondary: #00000022;
  --bg-color--map: #384153;
  --bg-color--sidebar: #ded7cd;
  --scrollbar-fg: #636363bb;
  --scrollbar-bg: transparent;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  .button {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    cursor: pointer;
    &.secondary {
      border: 1px dotted var(--text-color);
      padding: 0.125em 0.5em;
      color: var(--text-color);
      &:hover {
        background-color: var(--bg-color-btn--secondary);
      }
    }
  }
}

aside {
  background: var(--bg-color--sidebar) url('img/bg-sidebar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  padding: 1rem;
  a:not(.button) {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--text-color);
  }
  .description {
    .header {
      img {
        max-width: 100%;
      }
    }
    .map-switcher {
      gap: 1rem;
    }
  }
  .credits {
    max-height: 25%;
    overflow-y: auto;
    .heading {
      display: block;
      text-transform: uppercase;
      font-size: 1.125em;
      margin: 1rem 0;
      font-weight: 700;
    }
    ul {
      margin-left: 1rem;
      list-style-type: square;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
    &-thumb {
      background: var(--scrollbar-fg);
    }
    &-track {
      background: var(--scrollbar-bg);
    }
  }
}

body,
aside {
  height: 100dvh;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

/// Leaflet

.leaflet {
  height: 100dvh;
  font-family: inherit;
  background-color: var(--bg-color--map);
  h1 {
    font-size: 1.1rem;
    margin: 0;
    & + p {
      margin-top: 0.33em;
    }
  }
  p {
    margin: 0;
  }
  &-marker-icon {
    filter: drop-shadow(1px 1px 2px var(--text-color));
  }
  &-popup {
    &-close-button {
      display: none;
    }
    &-content {
      margin: 0;
      &-wrapper {
        padding: 0.66rem;
      }
    }
  }
  &-touch {
    .leaflet-bar {
      a {
        border-bottom: 0;
      }
      a:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      a:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
      }
    }
    .leaflet-bar,
    .leaflet-control-layers {
      border: 0;
    }
  }
  &-bar,
  &-control-layers,
  &-popup-content-wrapper {
    border-radius: 0;
  }
  &-popup-content-wrapper,
  &-popup-tip {
    background: var(--bg-color--sidebar);
    color: var(--text-color);
  }
  &-control-layers-toggle {
    background-image: url('img/leaflet/layers.png');
  }
}
