:root {
  --font-text: 'Chakra Petch';
  --font-family: var(--font-text, _), system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Segoe UI Symbol';

  --text-color: #000000;
  --link-color: #ba1D0a;
  --bg-color: #f5f5f5;
  --bg-color-btn--secondary: #00000022;
  --bg-color--sidebar: #ded7cd;
  --accent-color: #ff6a13;
  --scrollbar-fg: #636363bb;
  --scrollbar-bg: transparent;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  .button {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &.disabled {
      color: var(--scrollbar-fg);
      text-decoration: line-through;
    }
    &.secondary {
      border: 1px dotted var(--text-color);
      padding: 0.125em 0.5em;
      color: var(--text-color);
      &:hover {
        background-color: var(--bg-color-btn--secondary);
        text-decoration: none;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
    &-thumb {
      background: var(--scrollbar-fg);
    }
    &-track {
      background: var(--scrollbar-bg);
    }
  }
}

.panel {
  background: var(--bg-color--sidebar) url('../img/bg-sidebar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  padding: 1rem;
  overflow-y: auto;
  a:not(.button) {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--text-color);
  }
  .heading {
    display: block;
    text-transform: uppercase;
    font-size: 1.125em;
    margin: 1rem 0;
    font-weight: 700;
  }
  .top {
    margin-bottom: 1rem;
    .description {
      .header {
        img {
          max-width: 100%;
        }
      }
    }
    .filters {
      &__container {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        gap: 0.33rem;
        @media screen and (max-width: 1200px) {
          grid-template-columns: repeat(1, 1fr);
        }
        input {
          &[type='checkbox'] {
            position: relative;
            top: 0.1em;
            width: 0.875rem;
            height: 0.875rem;
            font-size: 1em;
            appearance: none;
            background-color: var(--bg-color-btn--secondary);
            border: 0;
            &:checked {
              background-color: var(--accent-color);
              &::before {
                // Check Mark
                content: '\002713';
                position: absolute;
                top: 0.0825em;
                left: 0.233em;
                color: var(--bg-color);
                font-size: 0.725em;
              }
            }
          }
        }
      }
      &-toggle {
        margin-bottom: 1rem;
      }
    }
  }
  .bottom {
    width: 100%;
    .credits {
      word-break: break-word;
    }
    .links {
      a {
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 0.25em;
        }
      }
      svg {
        height: 1em;
        width: 1em;
        vertical-align: middle;
      }
    }
  }
  .map-switcher,
  .filters-toggle {
    gap: 1rem;
  }
  .filters-toggle,
  .bottom {
    .button {
      font-size: 0.875em;
      font-weight: 700;
    }
  }
}

body,
.panel {
  height: 100dvh;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
