:root {
  --bg-color--map: #242833;
}

.leaflet {
  height: 100dvh;
  font-family: inherit;
  background-color: var(--bg-color--map);
  h1 {
    font-size: 1.1rem;
    margin: 0;
    & + p {
      margin-top: 0.33em;
    }
  }
  p {
    margin: 0;
    & + p {
      margin-top: 0.33rem;
    }
  }
  &-container {
    a {
      color: var(--link-color);
    }
  }
  &-neighborhood {
    color: var(--bg-color);
    font-size: 3em;
    white-space: nowrap;
    display: inline-block;
    opacity: 0.5;
    filter: unset;
  }
  &-marker-icon {
    filter: drop-shadow(1px 1px 2px var(--text-color));
  }
  &-popup {
    &-close-button {
      display: none;
    }
    &-content {
      margin: 0;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &-wrapper {
        padding: 0.66rem;
        .marker-image,
        .marker-images {
          margin: -0.66rem;
          width: calc(100% + (0.66rem * 2));
          .image-wrapper {
            height: auto;
            margin: 0 0 calc(1rem + (0.33rem / 2));
            max-height: 200px;
            width: 100%;
            img {
              max-height: inherit;
              max-width: 100%;
              object-fit: cover;
              cursor: pointer;
              &:hover {
                opacity: 0.9;
              }
            }
          }
        }
        .marker-image {
          .image-wrapper {
            img {
              min-height: 200px;
            }
          }
        }
        .marker-images {
          display: flex;
          flex-flow: row nowrap;
          .image-wrapper {
            img {
              min-height: 100px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  &-touch {
    .leaflet-bar {
      a,
      button {
        color: var(--text-color);
        border-bottom: 0;
      }
      a:first-child,
      button:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      a:last-child,
      button:last-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
      }
    }
    .leaflet-bar,
    .leaflet-control-layers {
      border: 0;
    }
  }
  &-bar,
  &-control-layers,
  &-popup-content-wrapper {
    border-radius: 0;
  }
  &-popup-content-wrapper,
  &-popup-tip,
  &-tooltip {
    background: var(--bg-color--sidebar);
    color: var(--text-color);
  }
  &-tooltip {
    border: 0;
    border-radius: 0;
    font-size: 0.875rem;
    &-bottom:before {
      border-bottom-color: var(--bg-color--sidebar);
    }
    &-left:before {
      border-left-color: var(--bg-color--sidebar);
    }
    &-right:before {
      border-right-color: var(--bg-color--sidebar);
    }
    &-top:before {
      border-top-color: var(--bg-color--sidebar);
    }
  }
  &-control-layers {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &-control-attribution {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
